@page "{id:int}"
@model Bookly.Pages.Clients.DetailsModel
@{
    ViewData["Title"] = "Szczegóły klienta";
}

<h2>📋 Szczegóły klienta</h2>
<dl class="row">
    <dt class="col-sm-3">Imię i nazwisko:</dt>
    <dd class="col-sm-9">@Model.Client.FirstName @Model.Client.LastName</dd>
    <dt class="col-sm-3">E-mail:</dt>
    <dd class="col-sm-9">@Model.Client.Email</dd>
</dl>

<h4>📚 Wypożyczenia:</h4>
@if (Model.Loans.Any())
{
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Książka</th>
            <th>Wypożyczono</th>
            <th>Planowany zwrot</th>
            <th>Data zwrotu</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var loan in Model.Loans)
        {
            <tr>
                <td>@loan.Book.Title</td>
                <td>@loan.LoanDate.ToShortDateString()</td>
                <td>@loan.PlannedReturnDate.ToShortDateString()</td>
                <td>@(loan.ReturnDate?.ToShortDateString() ?? "Nie zwrócono")</td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info">Brak wypożyczeń dla tego klienta.</div>
}